
.NavContainer{
	/*margin-right: auto;
	margin-left: auto;*/
	position: fixed;
	background-color: grey;
	width: 100%;
}

.navheader{
	margin-left: 60px;
	width: 300px;
	float: left;
}

.NoBulletList{
	list-style: none;
}

nav ul{
	float: right;
	display: inline-block;
}

nav ul li{
	color:purple;
	margin-right: 15px;
	display: inline;
	font-size: 24px;
}
/*
.container .li{
	
}*/



.SearchAndResults{
	padding-top: 100px;
	margin-left: 100px;
}

.search-form input{
	border: 1px solid grey;
	width:50%;
	height: 30px;
}

.SearchImg{
	/*width: 30px;*/
	height: 35px;
	background-color: white;
	border: 1px solid grey;
	display: inline;
	top: 9px;
	position: relative;
}

.magImg{
	 height: 30px;
	 width: 30px;
}


.PageNav{
	/*flex-direction: row;*/
	position: relative; 
	display: block;
	margin-top: 30px;
}

.SearchResults{
	color:grey;
}

.SearchResult{
	display: block;
	margin-top: 10px;
}

.SearchResultTitle{
	color: blue;
	font-weight: bold;
}

.SearchResultTitle:Hover{
	color: black;
}