
.NavContainer{
	/*margin-right: auto;
	margin-left: auto;*/
	position: fixed;
	background-color: #D3d3d3;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
}

.navheader{
	margin-left: 60px;
	width: 300px;
	float: left;
}


.NoBulletList{
	list-style: none;
	float: right;
	display: inline-block;
	margin-top: 20px;
}

nav a{
	color:purple;
	margin-right: 15px;
	display: inline;
	font-size: 24px;
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/*
.container .li{
	
}*/



.SearchAndResults{
	padding-top: 100px;
	margin-left: 100px;
}

.search-form input{
	border: 1px solid grey;
	width:50%;
	height: 30px;
}

.SearchImg{
	/*width: 30px;*/
	height: 35px;
	background-color: white;
	border: 1px solid grey;
	display: inline;
	top: 11px;
	position: relative;
}

.magImg{
	 height: 30px;
	 width: 30px;
}


.PageNav{
	/*flex-direction: row;*/
	position: relative; 
	display: inline-block;
	margin-top: 30px;
	border: 1px solid grey;
	border-radius: 3px;
}

span  .InBetweenButtons{
	border: 1px solid black;
	color: blue;
	padding: 0;
	margin-right: 15px;
	margin-left: 15px;
}

.SearchResults{
	color:grey;
	padding-top: 30px;
}

.SearchResult{
	display: block;
	margin-top: 10px;
}

.SearchResultTitle{
	color: blue;
	font-weight: bold;
	margin-right: 8px;
	margin-left: 8px;
}

.SearchResultTitle:Hover{
	color: black;
}



